body {
	background-image: url('Img/bg.png');
	background-color: #404040;
	color: #b0b0b0;
	font-size: 87.5%;
	font-family: Ariel, 'Lucida Sans Unicode';
	line-height: 1.5;
	text-align:left;
}


a {
	text-decoration: none;
}
a:link, a:visited {
}
a:hover, a:active {
}

#body {
	margin: 0 auto;
	width: 70%;
	height: 100%;
	clear: both;
}
#center {
	z-index: -1;
	position: fixed;
	background-image: url("Img/UI/BG_center.png");
	background-repeat: repeat-y;
	background-size: 100%;
	width: 70%;
	height: 100%;
}

#ledge {
	position: absolute;
  background-image: url("Img/UI/BG_border.png");
	background-repeat: repeat-y;
	background-position: right;
	right: 100%;
	width: 10%;
	height: 120%;
}

#redge {
	-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
background-image: url("Img/UI/BG_border.png");
background-repeat: repeat-y;
background-position: right;
position: absolute;

left: 100%;
width: 10%;
height: 120%;
}

.mainHeader img{
	width: 100%;
	height: auto;
	margin: 2% 0;

}

.mainHeader nav{
	background-color: #000000;
	height: 40px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.mainHeader nav ul {
	list-style: none;
	margin: 0 auto;
}

.mainHeader nav ul li {
	float: left;
	display: inline;
}

.mainHeader nav a:link, .mainHeader nav a:visited {
	color: #888; /*colors accordian text*/
	display: inline-block;
	padding: 10px 25px;
	height: 20px;
	}

.mainHeader nav a:hover, .mainHeader nav a:active ,
.mainHeader nav.active a:link, .mainHeader nav .active a:visited {
	background-color: #181818;
	color: #7c5bff; /*colors top nav links*/
}

.mainHeader	nav ul li a {
	border-radius:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#dropMenButt {
	display: inline !important;
	float : right;
	margin: 4px;
}

.currentNav {
	color: #7c5bff !important;
}
#mainNav ul li {
	display: none;
 /*added for javascript color debugger*/

}


#dropMenButt a:hover {
	background: none;
	-webkit-filter: invert(.1);
	filter: invert(.1);
}


#dropMenu {
	position: fixed;
	background-color: #000000;
	height: 120%;
	width: 200px;
	right: 0;
	z-index: 4;
}
#dropMenu li {
list-style: none;
margin-top: 40px;
font-size: 20px;
}
#dropMenuCloseButt {
	margin-top: 40px;
	margin-left: 40px;
}

#dropMenu li a {
	border-radius:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#dropMenu li a:link, #dropMenu li a:visited {
 color: #888; /*colors accordian text*/
 display: inline-block;
 }
#dropMenu li a:hover, #dropMenu li a:active ,
 #dropMenu li .active a:link, #dropMenu li .active a:visited {
 	background-color: #181818;
 	color: #7c5bff; /*colors top nav links*/
}
#dropMenuCover {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #63639C;
	opacity: .4;
	right: 0;

}
#dropMenuPos {
	position: fixed;
	float: right;
	z-index: 3;
}

.dropMenuClosed {
	display: none;
}



.accordion h3 + div {
        height: 0;
        overflow: hidden;
        -webkit-transition: height 0.3s ease-in;
        -moz-transition: height 0.3s ease-in;
        -o-transition: height 0.3s ease-in;
        -ms-transition: height 0.3s ease-in;
        transition: height 0.3s ease-in;
}
/*THIS IS WHERE YOU STYLE THE OPENED ACCORDIAN DIV!!!!!*/
.accordion :target h3 + div {
    height: auto !important;
		width: 100%;
		text-align: justify;
		text-justify: inter-word;
}

.accordion .section.large:target h3 + div {
        overflow: auto;
}
/*accordion window styling*/
.mainContent{
	line-height: 25px;
	border-radius:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	line-height: 25px;
}
/*accordion link header link styling*/
.mainContent h3 a:link, .mainContent h3 a:visited {
	color: #888;
	display: inline-block;
	padding: 10px 25px;
	height: 20px;
	}

.mainContent h3 a:hover, .mainContent h3 a:active,
.mainContent h3 .active a:link, .mainContent h3 .active a:visited {
background-color: #181818;
	color: #7c5bff !important;
}


.mainContent h3 a {
	line-height:20px;
	border-radius:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.mainContent h3 p {
	display: inline;
}
.mainContent p a:link, .mainContent p a:visited{
	color: #7c5bff !important; /*link styling??*/
	font-weight:bold;
}
.mainContent p a:hover{
	color: #888;
	font-weight: bold;
}



.vidScale {
   position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
}
.vidScale iframe,
.vidScale object,
.vidScale video,
.vidScale embed {
 position: absolute;
    top: 0;
    left: 0;
    width: 100%;
	height: 100%;

}
.GBvidScale {
	border-radius: 5px;
	position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
}
.GBvidScale iframe,
.GBvidScale video,
.GBvidScale object,
.GBvidScale embed {
 position: absolute;

    top: 0;
    left: 0;
	height: 100%;
    width: 100%;


}

/*getting content title img where i want it*/



.imgC{

float: right;
height: 100px;
padding-top: 10px;
padding-bottom: 10px;
padding-right: 10px;
}
.pHeadDivMobile{

float: right;
overflow: Hidden;
position: relative;
display : none;/*display: inline-block;*/
height: 200px;
width: 90%;
vertical-align: middle;
text-align: center;
margin-right: 5%;
margin-top: 5%;


	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 60%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0) 60%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 60%,rgba(0,0,0,0.65) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,0,0,0)60%,rgba(0,0,0,0.65) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

}

.pHeadMobile {
z-index: -1;
width: 100%;
height: auto;
position: absolute;
margin: auto;
bottom: 0px;
top: 0px;
right: 0;
}
.pHeadMobileWrapper {
	position: relative;
z-index: 1;
}

.pHeadText {
	z-index: 2;
	color : #D3D3D3 !important;
	position: absolute;
	margin-top: 130px;
	margin-left: 10%;
	left: 0;
}
.portHeadDiv{
	float: right;
	overflow: Hidden;
	position: relative;
  display: inline-block;
	height: 200px;
	width: 90%;
	vertical-align: middle;
	text-align: center;
	margin-right: 5%;
	margin-top: 5%;


		background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
	  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 60%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
	  background: -o-linear-gradient(top, rgba(0,0,0,0) 60%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
	  background: -ms-linear-gradient(top, rgba(0,0,0,0) 60%,rgba(0,0,0,0.65) 100%); /* IE10+ */
	  background: linear-gradient(to bottom, rgba(0,0,0,0)60%,rgba(0,0,0,0.65) 100%); /* W3C */
	  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

}

.portHeadText {
	z-index: 2;
	color : #D3D3D3 !important;
	position: absolute;
	margin-top: 130px;


}

.portHeadAccordDiv {
	height: 190px;
}


.fullImage{

width: 100%;
}
.cbImgRow{
position: relative;
left: -40px;
width: 100%;
}

.cbImgRow li {
display: table-cell;
padding-left: 5px;
padding-right: 5px;
}

.cbImgRow img{
	width: 100%;



border-radius: 3px;
border-color: #191970;
}
.cbImgCol{
	display:inline;

	list-style-type: none;
}

.cbImgCol img{
	margin-bottom: 30px;
	width: 100%;
	position: inline;

}
.imgRow{
display: table;
width: 100%;
}

.imgRow li {
	padding: 20px;
display: table-cell;

}

.imgRow img{
width: 90%;
vertical-align: top;
border-radius: 3px;
border-color: #191970;
}


#content {
	width: 100%;
	float: left;
}

.staticBlock {
	background-color: #000000;
	margin-top:15px;
padding: 25px 5%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.staticBlock h3 {
	color: #666;
	padding: 10px 25px;
	height: 10px;
}



.staticBlock p {
	text-align: justify;
    text-justify: inter-word;
	padding: 0px 25px 10px ;
}




.topContent {
	background-color: #000000;
	border-radius:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 25px 5%;
	margin-top:10px;

	/*height: 200px; JS Added for Portrait*/

}

#sidebar{
	width: 29%;
	float: left;
	display:none;
	margin-top: 10px;
	margin-left: 1%;
}
#sidebar article {
	padding-top: 10px;
	background-color: #000000;
	border-radius:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-bottom: 10px;
}

#sidebar div {
	position:relative;
	width: 90%;
	left: 5%;
	padding-bottom: 15px;
}
#sidebar a:link{
color: #7c5bff;
font-weight:bold;
}

#sidebar a{
color: #7c5bff;

}
#sidebar a:hover{
	color: #777;
	font-weight: bold;
}

#chunker {
	position: relative;
	height: 64px;
	width: 90%;
	left: 5%;
	border: 0px;
  margin: 0px;
  padding: 0px;

}

#topToggle{
	display: none;
	padding-top: 10px;
	background-color: #000000;
	border-radius:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-bottom: 10px;
}
.social{



}
.social ul{

	padding:0;
	display: inline;
	list-style: none;


}

.social ul li{

	display: inline;
	padding: 0% 0.8%;

}

.social img {
	width: 20%;

}

#follow {
	padding-bottom: 0px !important;
	height: 30px;
	border: none;
	position: relative;
	background-color: #2b2b2b;
	top: -10px;
	line-height:20px;
	border-radius:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#follow p {
	padding-top: 5px;
	color: #b09bdd;
	font-weight: bold;
	font-size: 20;
	text-align: center;
	vertical-align: middle;

}

#follow:hover {
	background-color: #181818;
}

#follow:hover p{
		color: #7c5bff;
}
.resumeTitle{
	background-image: url("Img/UI/resume_title_2.png");
	background-repeat: no-repeat;
	background-size: 300px auto;
	background-position: 0px 28px;
		color: #888888;
		padding-left: 45px;
		padding-top: 4px;
	font-size: 22px;

}
.resumeTitle h3 {
		color: #b0b0b0;
				padding-bottom: 2px;
}

.resumeTitle p {
	font-size: 16px;
	margin-bottom: -5px;
	margin-right: 20px;
	margin-left: 18px;

}
.resumeItem {
	background-image: url("Img/UI/resume_bullet_1.png"), url("Img/UI/resume_head_1.png");
	background-repeat: no-repeat, repeat-x;
	background-size: 40px, 90% 25px;
	background-position: 0% 0% , 0% 8px;


	overflow: hidden;
}
.resStaticBlock {

	background-color: #000000;
	margin-top:15px;
	padding: 25px 0px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	background-image: url("Img/UI/resume_title_1.png");
	background-repeat: no-repeat;
	background-size: auto 150px;
	background-position: -22px -24px;
	background-clip: padding-box;
}

#resume a {

	padding: 39px 39px;


	font-size: 40px;



}
#resume {
	margin-top: 12px;
	margin-bottom: 3px;


}
#resume a:link{
	color: #7c5bff; /*link styling??*/
	font-weight:bold;
}
.resStaticBlock a:hover{
	color: #888!important;
	font-weight: bold;
}
	.resumeItem h3 {


	position: relative;
	line-height: 15px;
	top: 4px;
	left: 45px;
	color: #777777;
	font-size: 10px;
}
	.resumeItem h3 b {
		color: #b0b0b0;
		font-size: 16px !important;
		position: relative;
		top: 2px;
		line-height: 10px;
	}
	.re

.resumeItem ul {
	padding-top: 10px;
	margin-bottom: 0px;
}

.resumeItem li {
	list-style: none;
		background-image: url("Img/UI/resume_bullet_2.png");
		background-repeat: no-repeat;
		background-size: 15px;
		background-position: left 4px;
		padding-left: 25px;
		margin-top: -10px;
		margin-right: 20px;

}




#next a {
	border-radius:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	position: relative;
	top: -20px;


}

#next p {
		color: #111111;
		position: relative;
		top: -35px;
		display: inline-block;
			padding: 10px;
				height: 20px;
}

#next a:link, #next a:visited {
		color: #777; /*colors accordian text*/
		display: inline-block;
		padding: 10px 25px;
		height: 20px;
}

#next a:hover, #next a:active ,
 #next .active a:link, #next .active a:visited {
	background-color: #181818;
	color: #7c5bff; /*colors top nav links*/
}
footer {
	position: relative;
	top: 300
}

#about p{


}

#self {


	width: 200px;
	padding-left: 20px;


}
