body {
	background-image: url('Img/bg.png');
	background-color: #404040; 
	color: #404040;
	font-size: 87.5%; 
	font-family: Ariel, 'Lucida Sans Unicode';
	line-height: 1.5;
	text-align:left;
}

a {
	text-decoration: none;
}
a:link, a:visited {
}
a:hover, a:active {
}

.body {
	margin: 0 auto;
	width: 70%;
	clear: both;
}

.mainHeader img{
	width: 100%;
	height: auto;
	margin: 2% 0;
	
}

.mainHeader nav{
	background-color: #000000;
	height: 40px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.mainHeader nav ul {
	list-style: none;
	margin: 0 auto;
}

.mainHeader nav ul li {
	float: left;
	display: inline;
}

.mainHeader nav a:link, .mainHeader nav a:visited {
	color: #666; /*colors accordian text*/
	display: inline-block;
	padding: 10px 25px;
	height: 20px;
	}
	
.mainHeader nav a:hover, .mainHeader nav a:active , 
.mainHeader nav.active a:link, .mainHeader nav .active a:visited {
	background-color: #181818; 
	color: #660099; /*colors top nav links*/
}

.mainHeader	nav ul li a {
	border-radius:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}


.accordion h3 + div {
        height: 0;
        overflow: hidden;
        -webkit-transition: height 0.3s ease-in;
        -moz-transition: height 0.3s ease-in;
        -o-transition: height 0.3s ease-in;
        -ms-transition: height 0.3s ease-in;
        transition: height 0.3s ease-in;
}
/*THIS IS WHERE YOU STYLE THE OPENED ACCORDIAN DIV!!!!!*/
.accordion :target h3 + div {
        height: auto;
		width: 100%;
}

.accordion .section.large:target h3 + div {
        overflow: auto;
}
/*accordion window styling*/
.mainContent{
	line-height: 25px;
	border-radius:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	line-height: 25px;
}
/*accordion link header link styling*/
.mainContent h3 a:link, .mainContent h3 a:visited {
	color: #666; 
	display: inline-block;
	padding: 10px 25px;
	height: 20px;
	}

.mainContent h3 a:hover, .mainContent h3 a:active,
.mainContent h3 .active a:link, .mainContent h3 .active a:visited {
background-color: #181818; 
	color: #660099;
}


.mainContent h3 a {
	line-height:20px;
	border-radius:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.mainContent h3 p {
	display: inline;
}



.vidScale {
   position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
}
.vidScale iframe,
.vidScale object,
.vidScale embed {
 position: absolute;
    top: 0;
    left: 0;
    width: 100%;
	height: 100%;

}

/*getting content title img where i want it*/

.imgC{
float: right;
height: 100px;
padding-top: 10px;
padding-bottom: 10px;
padding-right: 10px;
}	
.fullImage{
width: 100%;
}

.imgRow{
display: table;
width: 100%;
}

.imgRow li {
display: table-cell;

}

.imgRow img{
width: 90%;
vertical-align: top;
border-radius: 3px;
border-color: #191970;
}


#content {
	width: 70%;
	float: left;
}

.staticBlock {
	background-color: #000000;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.staticBlock h3 {
	color: #666; 
	padding: 10px 25px;
	height: 20px;
}

.staticBlock p {
	padding: 0px 25px;
}

.topContent {
	background-color: #000000;
	border-radius:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 25px 5%;
	margin-top:10px;
}

#sidebar{
width: 21%;
float: left;
background-color: #000000;
border-radius:5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
margin-left: 3%;
margin-top: 10px;
padding: 2% 3%;
display:inline;
}




	
	
	
	
	